footer {
    background-color: #505050;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: rgb(139, 186, 255);
}

header {
    background-color: blue;
    color: white;

}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}

nav button {
    margin: 20px;
}

.header-content nav button:hover {
    background-color: lightgray;
    color: black;
    cursor: pointer;
    border: 1px solid #ccc;
}

.header-content nav button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.688);

}

.title {
    margin-right: 40px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0 darkgray, 1px -1px 0 darkgray, -1px 1px 0 darkgray, 1px 1px 0 darkgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3d3d3;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.image-main {
    margin: 20px;
}

.about-me {
    display: flex;
    align-items: center;
    margin: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.text-box {
    max-width: 600px;
}

.contact-form {
	max-width: 600px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contact-form li {
	margin: 15px;
}

.contact-form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-form button {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: #0056b3;
}

.image-links {
	text-align: center;
	margin: 20px;
}

.image-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.image-container a {
	margin: 10px;
}

.image-container img {
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
}

.image-container img:hover {
	transform: scale(1.05);
}